.meta {
    background-color: #ffffff00;
    margin-left: -20px;
    margin-top: 12px;
    .avatar {
        width: 30px;
       // margin-top: 50px;
        border-radius: 50%;
    }
    .nick {
        font-family: "Neucha", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        color: #000000;
        cursor: pointer;
        // padding-top: 10px;
    }
}
.ant-card-body {
    padding: 0px !important;
}
