.like {
    cursor: pointer;
    margin-top: -7px;
}
.likeCount {
    font-family: "Neucha";
    font-size: 17px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: #000000;
    float: left;
}
